<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <table style="width:100%" class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Detalhe</th>
                    </tr>
                </thead>         
                <tbody *ngFor="let pessoa of pessoasArray">
                    <tr>

                        <td>{{pessoa.id}}</td>
                        <td>{{pessoa.name}}</td>
                        <td>{{pessoa.email}}</td>
                        <td><button class='btn btn-primary' (click)="MostrarDetalhes(pessoa)" id="{{pessoa.id}}">Detalhes</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div style="width:50%" *ngIf="detalhePessoa===true">
                <app-pessoas-detalhe [pessoa]="pessoa" (novaPessoaEvento)="AlterarPessoa($event)" [display]="display"></app-pessoas-detalhe>
            </div>
        </div>
    </div>
</div>